

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

/* <!-- Sección de Barra de navegación --> */
.Sec-Nav{
    flex: 0 0 280px
}
.div-Nav{
    display: block;
}

.Barra-Nav {
    list-style-type: none;
    margin: 0;
    width: 280px;
    background-color: #e1e9ee;
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-left: 25px;
}

.div-Sec{
    display: block;
    text-align: center;
    margin-right: 45px;
    margin-top: 35px;    
    font: 25px;
}

.Link-Nav{
    color: #001627;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    position: block;
    font-family:sans-serif;
 }

 .Link-Nav:hover{
    text-shadow: #9ba2ac 0px 2px 10px;
    font-size: 18px;
    position: relative;
    font-weight: bolder;
    transition: 0.8s;
    padding-left: 4px;
    padding-right: 4px;
 }

 #Button-active{
    font-weight:bolder;
    font-size: 18.5px;
    padding-left: 5px;
    padding-right: 5px;
 }

 .Logo-ARM {
    width:180px ;
    height:60px ;
}
.Ico-Nav{
    position: absolute; 
    bottom: 10px;
    left: 115px;
    right: 115px;
    margin-bottom: 15px;
    text-align: center;
}

/* <!-- Sección de encabezado  --> */
.Header {
    /* display: block; */
    background-color: #001627;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Textcontanido1{
    /* color: #e1e9ee; */
    font-size: 5px;
    z-index: 1000;
}
    /* <!-- Sección de dispositivos  --> */
.Sec-Body1 {
    margin: 45px;
    padding-left: 305px; 
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}


.div-formulario:hover {
    color: #05060fc2;
}

.Label-formulario{
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.Input-Formulario{
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: 
    border-color .3s cubic-bezier(.25,.01,.25,1) 0s 
    color .3s cubic-bezier(.25,.01,.25,1) 0s, 
    background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.Input-Formulario:hover, .Input-Formulario:focus{
    outline: none;
    border-color: #05060f;
    transition: 1s;
}

.Estados-formulario{
    display: flex;
    align-items: center;

}

.Estado-opciones{
    margin: 10px;
  
}

.Botton-formulario{
    background-color: #063661;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Times;
    font-weight: bold;
    margin-left: 250px;
}

.Botton-formulario:hover{
    background-color: #4479a7; 
    color: rgb(255, 255, 255);
}