
/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Times;
}

body {
    color: #333;
    margin: 0;
    overflow-x: hidden;
}

/* Sección de encabezado */
.Sec-Header {
    background-color: #e1e9ee;
    padding: 80px 50px;
    display: flex;
    align-items: center;
}

.Logo-ARM {
    position: absolute;
    transform: translatex(15%);
}

.div-formulario {
    display: flex;
    gap: 30px;
}
 .Formulario {
    color: #0D1E28;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

 .Formulario:hover {
    background-color: #0D1E28;
    color: #DAE1E5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

/* Sección de bienvenida */
.Sec-Body1 {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    text-align: center;
}

.Title1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Button-dispositivos {
    background-color: #06263f;
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.Button-dispositivos:hover {
    background-color: #0056b3;
}

.Button-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Sección de información */
.Sec-Body2 {
    padding: 60px 20px;
    background-color: #f2f7fb;
    text-align: center;
}

.Title-Info {
    font-size: 28px;
    color: #00467f;
    margin-bottom: 20px;
}

.Text-Info {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

/*  Footer */
.Sec-Footer {
    background-color: #e1e9ee;
    color: #0D1E28;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.Logo-ARM-Footer, .Logo-GRD-Footer {
    height: 60px;
    width: auto;
    margin: 10px 0;
}

.div-text-footer {
    color: #0D1E28;
    max-width: 250px;
    text-align: left;
    margin: 20px 0;
}

.Title-footer {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0D1E28;
}

.Text-footer {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #0D1E28;
}

.Text-footer a {
    color: #0D1E28;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.Text-footer a:hover {
    color: #0D1E28;
}
